
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #272626;
}


nav {
  background-color: #4d4d4d; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}


.logo {
  font-size: 1.5em;
  font-weight: bold;

}


 ul {
  list-style: none;
  display: flex;
  gap: 30px;
}


a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #c08685; 
}

.square{
  height: 250px;
 width: calc(25% - 40px);
  background-color: rgb(105, 103, 103);
 display: flex;
}
#content{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-between;
gap: 15px;
margin-top: 50px;
}



@media (max-width: 600px) {
  nav {
    flex-direction: column; 
    align-items: flex-start;
    padding: 15px;
  }

  .logo {
    margin-bottom: 10px;
    font-size: 1.3em;
  }

  nav ul {
    flex-direction: column; 
    width: 100%;
    gap: 10px;
  }

  nav li {
    width: 100%;
  }

  nav a {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
  }

  nav a:hover {
    background-color: black;
    color: white;
  }

  #content {
    padding: 20px;
    font-size: 1em;
  }
}


@media (max-width: 900px) {
  nav ul {
    gap: 15px;
  }

  .logo {
    font-size: 1.4em;
  }
}

